services:

  postgres:
    build: ./postgres
    container_name: postgres_db
    restart: always
    env_file:
      - ./postgres/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  evolution-api:
    image: atendai/evolution-api:v2.1.1
    container_name: evolution_api
    restart: always
    ports:
      - "9999:9999"
    env_file:
      - ./evolution-api/.env
    volumes:
      - evolution_store:/evolution/store
      - evolution_instances:/evolution/instances

  redis:
    image: redis:latest
    container_name: redis_cache
    restart: always
    command: redis-server
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  evolution_store:
  evolution_instances: